<h1>Iteration #1</h1><h2>Installed App by APK:</h2>
<img src = "./insApp.png" width="200" height="420"><h2>Opening first app in home screen:</h2>
<img src = "./firstApp.png" width="200" height="420"><h2>First long press:</h2>
<img src = "./longPress1.png" width="200" height="420"><h2>Second long press:</h2>
<img src = "./longPress2.png" width="200" height="420"><h2>Third long press:</h2>
<img src = "./longPress3.png" width="200" height="420"><h2>Verifed battery:</h2>
<p>Current Battery Service state:
  AC powered: false
  USB powered: true
  Wireless powered: false
  Max charging current: 500000
  Max charging voltage: 5000000
  Charge counter: 3227821
  status: 2
  health: 2
  present: true
  level: 91
  scale: 100
  voltage: 4210
  temperature: 328
  technology: Li-ion
  fastChargeStatus: false</p><h2>Enabling bluetooth:</h2>
<img src = "./bt.png" width="200" height="420"><h2>Adding a contact:</h2>
<img src = "./contact1.png" width="200" height="420"><h2>Opening first app in home screen again:</h2>
<img src = "./firstApp2.png" width="200" height="420"><h2>Exiting app:</h2>
<img src = "./exitedApp.png" width="200" height="420"><h2>Verifed screen resolution:</h2>
<p>Physical size: 1080x2340</p><h2>Enabling bluetooth again:</h2>
<img src = "./bt.png" width="200" height="420"><h2>Adding a contact again:</h2>
<img src = "./contact2.png" width="200" height="420"><hr><h1>Iteration #2</h1><h2>Installed App by APK:</h2>
<img src = "./insApp.png" width="200" height="420"><h2>Opening first app in home screen:</h2>
<img src = "./firstApp.png" width="200" height="420"><h2>First long press:</h2>
<img src = "./longPress1.png" width="200" height="420"><h2>Second long press:</h2>
<img src = "./longPress2.png" width="200" height="420"><h2>Third long press:</h2>
<img src = "./longPress3.png" width="200" height="420">